@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.add-property {
  /* padding: 10px;*/
  padding-top: 10px;
  width: 98.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  height: 85vh;
  position: relative;
  margin: 10px;
  margin-top: -15px;
}

.add-property::before {
  content: "";
  background: url("../pastel.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(139, 192, 185, 0.8);
  padding: 20px;
}

input::placeholder {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  padding-left: 4px;
}

.select-css {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  /* color: rgb(83, 80, 80);*/
  padding-left: 4px;
  height: 25px;
  border-radius: 9px;
  width: 300px;
  display: inline-block;
  float: right;
  outline: none;
}

.select-css::-ms-expand {
  display: none;
}

.label {
  display: inline-block;
  width: 395px;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: rgb(83, 80, 80);
  margin-bottom: 10px;
}

.add-form > label > input {
  border-radius: 9px;
  border: 1px solid rgb(83, 80, 80);
  height: 25px;
  width: 300px;
  display: inline-block;
  float: right;
  outline: none;
  padding: 5px;
}

.add-button {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: rgb(83, 80, 80);
  border: 1px solid rgb(83, 80, 80);

  background-color: white;
  transition: opacity 0.5s ease in;
  cursor: pointer;
  outline: none;
}

.add-button:hover {
  opacity: 0.7;
}

@media (max-width: 480px) {
  .add-property {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  .add-form > label > input,
  .select-css {
    width: 200px;
  }

  .label {
    width: 295px;
  }
}

@media (max-width: 750px) {
  .add-property {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}
