@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.alert {
  margin: 5px 0px 20px 0px;
  padding: 3px 10px 3px 10px;
  font-family: "Nunito", sans-serif;
  float: left;
  border-radius: 10px;
  width: 400px;
}

.success {
  background-color: rgb(104, 197, 143);
}

.fail {
  background-color: rgb(235, 112, 112);
}
