@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  /* display: flex; */
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  /*background-image: url("../new-islington.jpg");

  background-attachment: fixed;
  background-size: cover;*/
}

html {
  width: 100%;
  position: relative;
  margin: 0;
  min-height: 100%;
}

.App {
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  display: grid;

  grid-row-gap: 20px;
}

@media (max-width: 650px) {
  .App {
    grid-row-gap: 25px;
  }
}
