.navbar {
  background: white;
  width: 98.5%;
  height: 100px;
  /* position: relative;*/
  /* display: flex;
  align-items: center;*/

  margin: 10px;
  margin-top: 0;

  border-radius: 0px 0px 5px 5px;
}

.navbar > div {
  padding: 20px;
  height: 100%;
  width: 100%;
  background: rgb(139, 192, 185, 0.2);
}

.logo {
  margin: 10px 0px 10px 20px;
  width: 40px;
  height: 40px;
}

.navbar-links,
.without-menu {
  display: flex;
  float: right;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 95%;
  position: relative;
  right: 0;
  justify-content: space-between;
}

.navbar-links {
  width: 95%;
}

a {
  font-weight: 800;
  color: rgb(83, 80, 80);
  margin-right: 20px;
  text-decoration: none;
}

.surreal-estate {
  font-weight: 800;
  color: rgb(83, 80, 80);
}

.menu > div > div > ul > li > a:hover {
  /* -webkit-background-clip: text;*/
  -webkit-text-fill-color: grey;
}

.surreal-estate {
  padding-top: 25px;
  padding-left: 5px;
}

.sign-out {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.27548vw + 12.71074px);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
  background: #4c69ba;
  border: none;
  padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
}

.kep-login-facebook.metro {
  margin: 0;
  background: #4c69ba;
  border: none;
  margin: 0px 10px 0px 0px;
  display: inline;
}

#facebook-login > span > button {
  border-radius: 5px;
}

@media (max-width: 450px) {
  .surreal-estate {
    padding-top: 10px;
  }
}
