.properties-list,
.loading {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 20px;
  background-image: url("../pastel.jpg");
  color: rgb(83, 80, 80);
  font-weight: 600;
  background-attachment: fixed;
  background-size: cover;
}

.properties {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  display: grid;
  width: 100%;
  height: 100%;
  padding-right: 12px;
  margin-top: -10px;
}

.error-message {
  padding: 10px;
  width: 98.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  height: 83vh;
  position: relative;
  margin: 10px;
  margin-top: -15px;
}

.error-message > h1 {
  text-align: center;
}

.error-message::before {
  content: "";
  background: url("../pastel.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer {
  background-color: rgb(139, 192, 185, 0.2);
  height: 100px;
  width: 98.5%;
  position: absolute;
  color: rgb(53, 175, 212);
  bottom: 0px;
  right: 10px;
  left: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 1100px) {
  .properties-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 985px) {
  .properties-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 760px) {
  .properties-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .properties {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 6fr 100px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0;
  }
  .side-bar {
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer {
    flex-direction: column;
    left: 0;
    right: 0;
    width: 100vw;
  }
}
